
<div class="field-wrapper">
  <autocomplete-component [width]="200"
                          [url]="url"
                          [placeholder]="'Please select a client'"
                          (on-change)="onChanged($event)">
  </autocomplete-component>
</div>
  <div class="field-wrapper">
    <dropdown-search-component
      [url]="serviceUrl"
      [placeholder]="'Please select a service'"
      [width]="200">

    </dropdown-search-component>
</div>
<div class="field-wrapper">
  <dropdown-search-component
    [url]="recipientUrl"
    [placeholder]="'Please select a recipient'"
    [width]="200">

  </dropdown-search-component>
</div>
