<h1>Welcome to Angular</h1>
<div class="field-wrapper">
  <autocomplete-component [width]="400"
                          [url]="url"
                          [placeholder]="'Please select a client'"
                          (on-change)="onChanged($event)">
  </autocomplete-component>
</div>
  <div class="field-wrapper">
    <dropdown-search-component
      [url]="serviceUrl"
      [placeholder]="'Please select a service'"
      [width]="400"
      [static]="'true'"
      [searchable]="'true'"
      [data]="data"
      [multiple]="'false'"
      (on-change)="onChangeService($event)">

    </dropdown-search-component>
</div>
<div class="field-wrapper">
  <input-tags-component
    [url]="recipientUrl"
    [placeholder]="'Please select a recipient'"
    [width]="400"
    (on-change)="onChangeService($event)">
  </input-tags-component>
</div>
